@page
@model NewsReport.Pages.NewsAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="News.NewsID" />
            <div class="form-group">                 
                เลือกหมวดข่าว 
                <select asp-for="News.NewsCategoryID" class ="form-control" asp-items="ViewBag.NewsCategoryID"></select>             
            </div>             
            <div class="form-group">                 
                วันที่เกิดเหตุ                 
                <input asp-for="News.ReportDate" class="form-control" />                 
                <span asp-validationfor="News.ReportDate" class="text-danger"></span>             
            </div>             <div class="form-group">                 
                รายละเอียดขา่ว                 
                <textarea asp-for="News.NewsDetail" class="formcontrol" rows=5 cols=50 >                 
                </textarea>                 
                <span asp-validationfor="News.NewsDetail" class="text-danger"></span>             
            </div>             
            <div class="form-group">                 
                ละติจูดจุดเกิดเหตุ                 
                <input asp-for="News.GpsLat" class="form-control" />                 
                <span asp-validationfor="News.GpsLat" class="text-danger"></span>             
            </div>             
            <div class="form-group">                
                ลองจิจูดจุดเกิดเหตุ                 
                <input asp-for="News.GpsLng" class="form-control" /> 
            <span asp-validationfor="News.GpsLng" class="text-danger"></span>             
            </div>             
            <div class="form-group">                 
                สถานะของข่าว                 
                <select asp-for="News.NewsStatus" class="form-control" >                     
                <option value="Unverified">Unverified</option>                     
                <option value="Verified as Real">Ver ified as Real</option>                     
                <option value="Verified as Fake">Ver ified as Fake</option>                 
                </select>                 
                <span asp-validationfor="News.NewsStatus" class="text-danger"></span>             
            </div> 
            <div class="form-group">
                <label asp-for="News.NewsUserId"  class="control-label"></label>
                <select asp-for="News.NewsUserId" class="form-control" asp-items="ViewBag.NewsUserId"></select>
                <span asp-validation-for="News.NewsUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
